/* STYLES FOR BODY TAG STARTS */
body {
    font-family: serif;
}

/* STYLES FOR THE LIBRARY react-slick STARTS */
.slick-slide {
    text-align: center;
}

.slick-prev {
    left: 20px !important;
    z-index: 10 !important;
}

.slick-next {
    right: 20px !important;
}

.slick-prev::before {
    font-size: 30px !important;
    color: black !important;
}

.slick-next::before {
    font-size: 30px !important;
    color: black !important;
    z-index: 10 !important;
}

/* STYLES FOR THE LIBRARY react-slick ENDS */

/* STYLES FOR THE A TAG STARTS */

a {
    outline: none;
    border: none;

    :focus {
        outline: none;
        border: none;
    }

    :hover {
        opacity: 0.8;
    }
}

/* STYLES FOR THE A TAG ENDS */