

.dashboard-root-element {
    width: 100%;
    height: 100%;
}

.custom-tab-style {
    font-weight: 600 !important; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.custom-tab-style.Mui-selected {
    background-color: rgba(242,242,242,1);
    color: #000 !important;
    border: 1px solid #003EFF;
    border-bottom: 3px solid #003EFF !important;
}

.custom-tab-panel-style {
    height: calc(100% - 50px);
    padding: 0%;
    border: 1px solid #003EFF;
    background-color: rgba(242,242,242,1);
}

.css-1sj2jcg-MuiTabs-indicator {
    margin-top:2px !important;
    background-color: rgba(242,242,242,1) !important;
}