

.it-helpdesk-tab-view-layout-element {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.it-helpdesk-tab-view-item {
    padding: 5px;
    min-width: 200px;
    max-width: 200px;
}

.it-helpdesk-tab-view-item-image {
    height: 200px;
    object-fit: cover;
    box-shadow: 6px 6px 10px #000000;
    border-radius: 0px 44px 0px 44px;
}

.it-helpdesk-tab-view-item-app-name {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: medium;
}

a:hover {
    color: rgba(0,0,255,0.5);
}