

.line-of-business-tab-view-grid-layout-element {
    height: 100%;
    width: 100%;
    display: grid;
    /* NOTE: THIS AUTO FIT WILL WRAP THE OVERFLOW X AXIS ELEMENTS TO NEXT LINE. */
    grid-template-columns: repeat(6,minmax(200px,200px));
    justify-content: space-around;
    grid-gap: 30px 30px;
    overflow: auto;

    @media screen and (max-width: 1426px) {
        grid-template-columns: repeat(auto-fit,minmax(200px,200px));
    }
}

.line-of-business-tab-view-grid-item {
    width: 100%;
    padding: 5px;
    justify-self: center;
}

.line-of-business-tab-view-grid-item-image {
    height: 200px;
    object-fit: cover;
    box-shadow: 6px 6px 10px #000000;
    border-radius: 0px 44px 0px 44px;
}

.line-of-business-tab-view-grid-item-link {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

a:hover {
    color: rgba(0,0,255,0.5);
}